{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <a class="btn-logout" href="{% url 'logout' %}">
      Cerrar Sesión
    </a>
    <div class="content-right">
      <h1 class="card-header">DIGITALIA</h1>
      <div class="card-body">
        <form id="csvForm" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="api_key">Ingresa tu clave API secreta de OpenAI</label>
          <input required type="text" autofocus="autofocus" name="api_key">
          <label for="file_csv">Ingresa el archivo CSV a analizar</label>
          <input required type="file" name="file_csv" accept=".csv">
          <button type="submit">
            Analizar
          </button>
        </form>
      </div>
    </div>
    <div id="chatHistory" class="chat-history"></div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}