.content {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 1em;
}

.content-right {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    border: none;
    align-self: center;
    border-radius: 1em;
    margin-left: 1em;
    border: 1px solid #ced4da;
    overflow: hidden;
}

.content-right h1 {
    width: 100%;
    background: rgba(0,0,0,.03);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right input {
    width: 100%;
    outline: none;
    border: 1px solid #ced4da;
    padding: 0.75em 1.2em;
    border-radius: 0.5em;
}

.card-header {
    font-size: 2em;
    font-weight: bold;
}

.card-body {
    padding: 1em;
}

.card-body button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1.1em;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    border-radius: 1em;
}

  .defect{
    border: 1px solid #ced4da;
}

.assist {
    color: white;
    background: #007bff;
}

.system {
    color: white;
    background: #17a2b8;
}


#csvForm {
    display: flex;
    padding: 1em 0;
    flex-direction: column;
    gap: 1em;
}

.chat-history {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media  screen and (max-width: 700px) {
    .content {
        padding: 1em 0;
        flex-direction: column;
        overflow: auto;
    }

    .content-right {
        width: 90%;
        margin-left:0
    }

    .chat-history {
        overflow: visible;
    }
}